*{
    margin: 0;
    padding: 0;
}
.container{
display: flex;
justify-content: center;
margin: 40px;
}
.box{
    border: 0.1px solid black;
    padding: 33px;
    padding-top: 14px;
    box-sizing: border-box;
    padding-bottom: 55px;
    /* display: flex; */
}
.container p{
    line-height: 3.2;
}
.container h1{
    color: green;
}
.container button{
    display:block;
    width: 95px;
    border-radius: 8px;
    height: 28px;
    background: green;
    color: white;
    margin-left: 130px;
    margin-top: 8px;
    /* border-style: none; */
}
.container button:hover{
    background-color: black;
    cursor: pointer;
}
